body {
	font-family: helvetica, sans-serif;
}
a {
	color: white;
}
.container {
	text-align: center;
	background: rgba(0,0,0,0.5);
	background-size: cover;
	color: white
}
ul {
        padding: 20px;
	background: rgba(0,0,0,0.5);    
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
.socialmedia {
	float: right;
}
